@charset "utf-8";


.recto {
    width: 250px;
    height: 260px;
    border:1px solid green;
    border-radius:20px;
}

.rectt {
    padding: 0px;
    position: absolute;
    top: 8px;
    left: 400px;

    width: 250px;
    height: 260px;
    border: 1px solid #4DEE99;
    border-radius: 20px;
    background-color: #4DEE99;
}

.circle {
    padding: 0px;
    position: absolute;
    top: 300px;

    width:250px;
    height:250px;
    border:1px solid green;
    border-radius:500px;
}
