@charset "utf-8";

/*Задание 1*/
#one li:first-child{
    color:red;
}

/*Задание 2*/
#two li:last-child {
    color: red;
}

/*Задание 3*/
#three li:last-child{
    color:green;
}

#three li:first-child{
    color:red;
}
