@charset "utf-8";


.sol {
    border: 1px solid red;
    width: 400px;
    height: 300px;
}

.dot {
    padding: 0px;
    position: absolute;
    top: 10px;
    left: 500px;

    border: 2px dotted blue;
    width: 400px;
    height: 300px;
}

.dash {
    padding: 0px;
    position: absolute;
    top: 350px;
    
    border:4px dashed green;
    width: 400px;
    height: 300px;
}
.doub {
    padding: 0px;
    position: absolute;
    top: 350px;
    left: 500px;

    border:5px double orange;
    width: 400px;
    height: 300px;

}

